@charset "UTF-8";
@import url(style_Reset.css);
/* .img_Box {
    overflow: hidden;
    background: url(../images/Home/img_kabang_210628.png);
} */
body {
    overflow-y: scroll;
    background-color: #fafafa;
    display: block;
    
}
div#wrap {
    width: 100%;
    border: 1px solid#000;
    background-color: #eeeeee;
    margin: auto;
    /* overflow-y: scroll; */
    display: block;
}
div.inner {
    margin-bottom: 80px;
    /* background-image 위치 조정 가능 */
}
#kakaoWrap {
    overflow-y: scroll;
    min-width: 1120px;
    height: auto;
}
/* 기본설정 완료 */
div#headerArea {
        min-width: 100%;
    /* height: 140px; */
    text-align: center;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #eee;
    border-bottom: 1px solid#aaa;
}
/* header#header 시작 */
div#headerArea {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
header#header {
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    padding-left: 10px;
    margin: 0 auto;
    line-height: 80px;
    justify-content: space-between;
    position: relative;

}

img#htLogo {
    display: none;
}
/* GNB메뉴 시작 */

nav#gnb {
    /* min-width: 100%; */
    
    margin: 0 12px;
}

nav#gnb ul#mainMenu {
    height: 80px;
}
header#header nav#gnb li.mainLi {
    text-align: center;
    height: 80px;
    /* margin: 0 10px; */
    /* padding: 0 12px; */
    float: 1;
    /* 삭제가능 */
    position: relative;
    width: 100px;
}
  header#header nav#gnb li.mainLi > a {
    height: 80px;
    /* display: inline-block; */
    color: #000;
    font-size: 15px;
}
header#header nav#gnb li.mainLi:nth-child(5) {
    margin-right: 35px;
}
li.submit  {
    font-size: 15px;
    padding: 0 10px;
}
li.submit a{
    padding: 12px 16px;
    border-radius: 30px;
    background-color: #fede22;
}
/* 서브메뉴 설정 */
#gnb ul.subMenu {
    width: 8000px;
    text-align: center;
    /* border: 1px solid #000; */
    position: absolute;
    z-index: 95;
    display: flex;
    padding:60px 2000px 0;
    height: 340px;
}
#gnb ul.subMenu li.subLi>a {
    font-size: 20px;
    font-weight: 500;
}
  #gnb ul#mainMenu :nth-child(1) ul.subMenu   {
    right: -5520px;
}
#gnb ul#mainMenu :nth-child(1) ul.subMenu li.subLi {
    /* text-align: center; */
    margin: 0 53px;
}
#gnb ul#mainMenu :nth-child(2) ul.subMenu   {
    right: -5420px;
}
#gnb ul#mainMenu :nth-child(3) ul.subMenu   {
    right: -5320px;
}
#gnb ul#mainMenu :nth-child(4) ul.subMenu   {
    right: -5220px;
}
  #gnb li.subLi  {
      width: 150px;
      margin: 0 30px;
      line-height: 40px;
      font-size: 14px;
      display: inline-block;
  }
  #gnb li.subLi a {
    color: #000;
    line-height: 30px;
    height: 25px;
  }
/* 서브 Bank 완료 */

/* 서브메뉴 완료 */
/* hover 설정 */
ul#mainMenu>li.mainLi a:hover{
    border-bottom: 1px solid#000;
}
ul#mainMenu>li.mainLi:hover{
    border-bottom: 2px solid#000;
}
/* hover 설정 완료 */
/* GNB메뉴 완료 */
/* header#header 완료 */
/* div#subMenuBG 시작 */
#subMenuBG {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    display: none;
    z-index: 98;
}
/* div#subMenuBG 완료 */
/* footer영역 시작 */
footer#footer {
    min-width: 100%;
    /* height: 140px; */
    text-align: center;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #eee;
}
#footerFrame {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}
/* div#footerTop 시작 */
div.footerTop {
    font-size: 10.7px;

    line-height: 1.5;
    overflow: hidden;
    padding: 37px 0 12px;
    text-align: center;
    margin: 0 auto;
}
#footer nav#footerLnb li:nth-child(2n) {
    width: 1px;
    height: 11px;
    background-color: #ddd;
    margin: 0 17px;
    transform: translateY(1px);
}
#footer nav#footerLnb li:nth-child(5),
#footer nav#footerLnb li:nth-child(7),
#footer nav#footerLnb li:nth-child(9) {
    font-weight: bold;
}
/* div#footerTop 완료 */

footer#footer div#copyArea {
    font-size: 10px;
    padding: 1px 0;
}
footer#footer div#copyArea span {
    color: #888888;
    margin-right: 28px;
}
footer#footer div#copyArea p {
    color: #888888;
    font-size: 10px;
}
/* div#footerArea 시작 */
div#footerArea {
    justify-content: space-between;
    height: 55px;
    line-height: 55px;
    text-align: left;
}

footer#footer div#footerLeft p {
    height: 20px;
    font-size: 12px;
    margin-left: 3px;
    line-height: 29px;
    display: inline-block;
}
footer#footer div#footerLeft p:hover {
    border-bottom: 1px solid#000;
}
footer#footer div#footerLeft img {
    width: 50px;
}
footer#footer div#footerRight {
    margin-right: 35px;
}
footer#footer div#footerRight a{
    margin: 0 11px;
}
/* div#footerArea 완료 */
/* footer영역 완료 */



/* main#main 시작 */
main#main {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -120px;
}

/* kakaoMain_02 시작 */
div.kakaoArea_02 {
    height: 750px;
    position: relative;
    background-color: #fff;
    color: #111;
}
div.kakaoMain_contents_02 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 473px;
    margin: 0 0 0 -200px;
    border: 0 none;
}
div.kakaoMain_contents_02 img {
    position: relative;
    top: 36px;
    left: 50%;
    width: 473px;
    border: 0 none;
    margin: 0 0 0 -500px;
}
div.kakaoMainText_02 {
    position: relative;
    top: 220px;
    left: 50%;
    margin-left: 90px;
}
div.kakaoMainText_02 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_02 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    color: #000;
}
div.kakaoSubText_02 {
    top: 438px;
    left: 50%;
    margin-left: 90px;
    position: absolute;
}
div.kakaoSubText_02 a {
    display: block;
    background: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-align: center;
}
div.kakaoMainText_02 img {
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 8px;
    vertical-align: text-top;
}
div.backGround_Area_02 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_02 완료 */
/* kakaoMain_03 시작 */
div.kakaoArea_03 {
    height: 900px;
    position: relative;
    background-color: #fff;
    color: #111;
}
div.kakaoMain_contents_03 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 473px;
    margin: 0 0 0 -200px;
    border: 0 none;
}
div.kakaoMain_contents_03 img {
    position: relative;
    top: 36px;
    left: 63%;
    width: 400px;
    border: 0 none;
    margin: 0 0 0 30px;
}
div.kakaoMainText_03 {
    position: absolute;
    top: 172px;
    left: 55%;
    margin-left: -550px;
}
div.kakaoMainText_03 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_03 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    color: #000;
}
div.kakaoMainText_03 img {
    width: 440px;
    margin: 142px 0 0 -8px;
}
div.kakaoSubText_03 {
    position: absolute;
    top: 385px;
    left: 50%;
    margin-left: -455px;
}
div.kakaoSubText_03 a {
    float: left;
    width: 146px;
    height: 53px;
    margin-right: 6px;
    border-radius: 10px;
    background: #f6f6f6;
    font-size: 15px;
    line-height: 53px;
    color: #000;
    text-align: center;
}
div.kakaoSubText_03 img {
    width: 6px;
    margin-bottom: 15px;
    margin: 0 5px;
}
div.backGround_Area_03 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_03 완료 */
/* kakaoMain_04 시작 */
div.kakaoArea_04 {
    height: 750px;
    position: relative;
    background-color: #fff;
    color: #111;
}
div.kakaoMain_contents_04 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 473px;
    margin: 0 0 0 -255px;
    border: 0 none;
}
div.kakaoMain_contents_04 img {
    position: relative;
    top: 36px;
    left: 60%;
    width: 473px;
    border: 0 none;
    margin: 0 0 0 -500px;
}
div.kakaoMainText_04 {
    position: relative;
    top: 220px;
    left: 50%;
    margin-left: 90px;
}
div.kakaoMainText_04 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_04 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}
div.kakaoSubText_04 {
    top: 438px;
    left: 50%;
    margin-left: 90px;
    position: absolute;
}
div.kakaoSubText_04 a {
    display: block;
    background: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-align: center;
}
div.kakaoSubText_04 img {
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 1px;
    vertical-align: text-top;
}
div.backGround_Area_04 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_04 완료 */
/* kakaoMain_05 시작 */
div.kakaoArea_05 {
    height: 650px;
    position: relative;
    background-color: #fff;
    color: #111;
}
div.kakaoMain_contents_05 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 473px;
    margin: 0 0 0 -230px;
    border: 0 none;
}
div.kakaoMain_contents_05 img {
    position: relative;
    top: 86px;
    left: 50%;
    width: 493px;
    border: 0 none;
    margin: 0 0 0 30px;
}
div.kakaoMainText_05 {
    position: absolute;
    top: 172px;
    left: 54%;
    margin-left: -470px;
}
div.kakaoMainText_05 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_05 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
    
}
div.kakaoMainText_05 img {
    width: 440px;
    margin: 142px 0 0 -8px;
}
div.kakaoSubText_05 {
    position: absolute;
    top: 385px;
    left: 50%;
    margin-left: -390px;
}
div.kakaoSubText_05 a {
    float: left;
    width: 246px;
    height: 53px;
    margin-right: 6px;
    border-radius: 10px;
    background: #f6f6f6;
    font-size: 15px;
    line-height: 53px;
    color: #000;
    text-align: center;
}
div.kakaoSubText_05 img {
    width: 6px;
    margin-bottom: 15px;
    margin: 0 5px;
}
div.backGround_Area_05 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_05 완료 */
/* kakaoMain_06 시작 */
div.kakaoArea_06 {
    height: 750px;
    position: relative;
    background-color: #fff;
    color: #111;
}
div.kakaoMain_contents_06 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 273px;
    margin: 0 0 0 -220px;
    border: 0 none;
}
div.kakaoMain_contents_06 img {
    position: absolute;
    top: -70px;
    right: 55%;
    width: 400px;
    /* height: 715px; */
    margin: 0 -40px 0 -155px;
}
div.kakaoMainText_06 {
    position: relative;
    top: 138px;
    left: 50%;
    margin-left: 90px;
}
div.kakaoMainText_06 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_06 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}
div.kakaoSubText_06 {
    top: 420px;
    left: 50%;
    margin-left: 90px;
    position: absolute;
}
div.kakaoSubText_06 a {
    display: block;
    background: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-align: center;
}
div.kakaoSubText_06 img {
    width: 6px;
    margin-bottom: 15px;
    margin: 0 5px;
}
div.backGround_Area_06 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_06 완료 */
/* kakaoMain_07 시작 */
div.kakaoArea_07 {
    height: 1062px;
    position: relative;
    background-color: #fff;
    color: #111;
    display: block;

}
div.kakaoMain_contents_07 {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 273px;
    margin: 0 0 0 -220px;
    border: 0 none;
}
div.kakaoMain_contents_07 img {
    position: absolute;
    top: -70px;
    right: 55%;
    width: 400px;
    margin: 0 -40px 0 -155px;
}
div.kakaoMainText_07 {
    position: relative;
    top: 138px;
    top: 60px;
    text-align: center;
}
div.kakaoMainText_07 h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
div.kakaoMainText_07 p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}
div.kakaoMainText_07  a {
    background: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
}
div.kakaoMainText_07 a img {
    width: 6px;
    margin-bottom: 15px;
    margin: 0 5px;
}
div.kakaoSubText_07_SlideImg div {
    width: 400px;
    height: 500px;
}
div.kakaoSubText_07_SlideImg {
    /* position: absolute; */
    width: 660px;
    height: 475px;
    top: 469px;
    /* left: 50%; */
    /* margin-left: -330px; */
}
div.kakaoSubText_07_SlideImg {
    height: 500px;
    margin: auto;
    display: flex;
}
div.kakaoSubText_07_SlideImg button {
    width: 100px;
    margin: 0 50px;
    border-style: none;
    background-color: #fff;
}
/* div.kakaoSubText_07_SlideImg img{
} */
div.backGround_Area_07 {
    width: 100%;
    height: 31px;
    background-color: #fafafa;
}
/* kakaoMain_07 완료 */
/* main#main  완료 */

